
CEBITEC_SETTINGS_FILE=PREFIX/share/config/settings.config

export CEBITEC_SETTINGS_FILE
if [ ! -r ${CEBITEC_SETTINGS_FILE} ]; then
    echo "Settings file not found, aborting."
    exit 1
fi

if [ -d PREFIX/lib/dotnet ]; then
    export DOTNET_ROOT=PREFIX/lib/dotnet
fi

if [ ! -f ${DOTNET_ROOT}/dotnet ]; then
    echo ".NET installation not found, aborting."
    exit 1
fi


GRAPHRUN=PREFIX/lib/Conveyor/GraphRun
PLUGINDUMPER=PREFIX/lib/Conveyor/PluginDumper


