#!/bin/bash

if [ $# -ne 3 ]; then
    echo "Usage: CWLRun graph.cwl MGX_projectname jobId"
    exit 1
fi

set -e

umask 0027

workflow=$1
projName=$2
jobId=$3

jobConfig=/vol/mgx-data/${projName}/jobs/${jobId}
siteConfig=PREFIX/share/config/cwlsite.config


cd /vol/mgx-data/${projName}/jobs || exit 1
cat ${siteConfig} ${jobConfig} > ${jobId}.yml

jobName=${projName/MGX2_/}-${jobId}

rm -f ${jobConfig}.stdout ${jobConfig}.stderr 

# precreate workdir with permissions 750
mkdir -p /vol/sge-tmp/${projName}/${jobId}

unset LC_MONETARY TERM LC_NUMERIC NLSPATH \
  LC_COLLATE LC_TIME LC_MESSAGES LC_CTYPE \
  LC_IDENTIFICATION LC_TELEPHONE LC_ADDRESS LC_PAPER \
  SMF_FMRI SMF_METHOD SMF_ZONENAME SMF_RESTARTER \
  XFILESEARCHPATH LS_COLORS SUDO_UID SUDO_GID SUDO_USER \
  SUDO_COMMAND MAIL OLDPWD

# required so cwltool can pickup nodejs
export PATH=PREFIX/bin:${PATH}

sbatch --job-name=${jobName} \
        --no-requeue --wait --partition=idle --quiet \
        --cpus-per-task=128 --mem=500G  \
        --chdir=/vol/mgx-data/${projName}/jobs \
        --export=PATH \
        -i /dev/null -o ${jobConfig}.stdout -e ${jobConfig}.stderr \
        --wrap="PREFIX/bin/cwltool --cachedir /vol/sge-tmp/${projName}/${jobId}/ --tmpdir-prefix /vol/sge-tmp/ --disable-color --no-container --debug ${workflow} ${jobConfig}.yml"

err=$?

if [ $err != 0 ]; then
        echo "sbatch exited with return code ${err}."
        exit ${err}
fi

# slurmstepd-hp-sl230-s1-l1.intra: error: *** JOB 15549930 ON hp-sl230-s1-l1.intra CANCELLED AT 2023-03-23T14:59:07 ***
if [ grep -q 'CANCELLED AT' ${jobConfig}.stderr ]; then
    echo "Job was cancelled." >> ${jobConfig}.stderr
    echo "Job was cancelled."
    exit 3
fi

if [ grep -q 'permanentFail' ${jobConfig}.stderr ]; then
    echo "Job did not run to completion." >> ${jobConfig}.stderr
    echo "Job did not run to completion."
    exit 3
fi

rm -f ${jobConfig}.yml
rm -rf /vol/sge-tmp/${projName}/${jobId}
