
checkmDataDir:
  class: Directory
  path: /vol/biodb/local_databases/MGX/checkm/

metabuliDatabaseDir:
  class: Directory
  path: /vol/biodb/local_databases/MGX/metabuli/refseq_release217/

taxonomyDirectory:
  class: Directory
  path: /vol/biodb/local_databases/MGX/ncbi_taxonomy/

dastoolDatabaseDir:
  class: Directory
  path: /vol/biodb/local_databases/MGX/dastool/

gtdbTkDatabaseDir:
  class: Directory
  path: /vol/biodb/local_databases/MGX/GTDB/release207_v2/

