
checkmDataDir:
  class: Directory
  path: /vol/biodb/local_databases/MGX/checkm/

kraken2DatabaseDir:
  class: Directory
  path: /vol/biodb/local_databases/MGX/kraken2/current/

taxonomyDirectory:
  class: Directory
  path: /vol/biodb/local_databases/MGX/ncbi_taxonomy/

dastoolDatabaseDir:
  class: Directory
  path: /vol/biodb/local_databases/MGX/dastool/


