#!/bin/bash

. PREFIX/share/config/conveyor.config

conveyor_graph=$1
projName=$2
jobId=$3

jobConfig=/vol/mgx-data/${projName}/jobs/${jobId}

set -e

umask 0007

if [ ! -r ${CEBITEC_SETTINGS_FILE} ]; then
    echo "Cannot read Conveyor settings file."
    exit 1
fi

if [ ! -r ${conveyor_graph} ]; then
    echo "Cannot read Conveyor workflow file."
    exit 1
fi

if [ ! -r ${jobConfig} ]; then
    echo "Cannot read Conveyor workflow parameter file."
    exit 1
fi

unset LC_MONETARY TERM LC_NUMERIC NLSPATH \
  LC_COLLATE LC_TIME LC_MESSAGES LC_CTYPE \
  SMF_FMRI SMF_METHOD SMF_ZONENAME SMF_RESTARTER \
  XFILESEARCHPATH

cd /vol/mgx-data/${projName}/jobs || exit 1

jobName=validate-${projName/MGX_/}-${jobId}

rm -f ${jobConfig}.stdout ${jobConfig}.stderr

PREFIX/lib/Conveyor/GraphRun --validate ${conveyor_graph} ${jobConfig} \
  > ${jobConfig}.stdout 2>${jobConfig}.stderr

#sbatch --job-name=${jobName} \
#        --no-requeue --wait --partition=chaos --quiet \
#        --cpus-per-task=2 --mem-per-cpu=50G  \
#        --chdir=/vol/mgx-data/${projName}/jobs \
#        --export=CEBITEC_SETTINGS_FILE,DOTNET_ROOT \
#        -i /dev/null -o ${jobConfig}.stdout -e ${jobConfig}.stderr \
#        --wrap="PREFIX/lib/Conveyor/GraphRun --validate ${conveyor_graph} ${jobConfig}"

err=$?

if [ $err != 0 ]; then
        echo "GraphValidate exited with return code ${err}."
        exit ${err}
fi

